@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Noto+Sans+Thai:wght@100..900&family=Outfit:wght@100..900&display=swap');

*{
margin: 0 auto;
padding: 0;
box-sizing: border-box;
font-family: "Outfit", sans-serif;
}

.top 
{
position: fixed;
width: 100%;
height: 69px;
top: 0%;
display: flex;
background-color: #3F72AF;
z-index: 999;
}
.vector
{
position: absolute;
left: 30px;
top: 22px;
cursor: pointer;
}
.bta
{
position: absolute;
left: 72px;
top: 22px;
font-family: 'Outfit';
font-weight: 600;
font-size: 25px;
line-height: 100%;
display: flex;
letter-spacing: -0.03em;
color: #F9F7F7;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
cursor: pointer;
list-style: none;
}
.bta li a
{
text-decoration: none;
color: #F9F7F7;
}
.logo 
{
top: 24px;
margin-left: 50%;
display: flex;
justify-content: flex-start;
align-items: center;
}
.user
{
position: absolute;
right: 30px;
top: 22px;
justify-content: flex-end;
cursor: pointer;
}

.Payment-method
{
position: absolute;
left: 43.5%;
top: 128px;
font-family: 'Outfit';
font-weight: 600;
font-size: 40px;
line-height: 100%;
display: flex;
letter-spacing: -0.03em;
color: #112D4E;
}

.Box1
{
position: absolute;
width: 466px;
height: 280px;
left: 40%;
top: 210px;
background: #F9F7F7;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
}

.container
{
margin-top: 15px;
}

.choice button:hover 
{
background-color: #DBE2EF;
}
.choice button
{
margin-left: 55px;
font-size: 20px;
font-weight: 600;
margin-top: 30px;
width: 359px;
height: 42px;
border: none;
background: #FFFFFF;;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;
cursor: pointer
}

/* .background img
{
/* top : 80% ;
bottom: 20px;
width: 500px;
height: 500px; */
/* color: #3F72AF;
width: 100%;
height: 69px;
left: 0px; */
/* } */ 

.Bottom
{
position: fixed;
width: 100%;
height: 69px;
bottom: 0%;
left: 0px;
top: calc(100% - 50px);
background: #3F72AF;
z-index: 999;
}
